<template>
  <div>
   <Header></Header><br/><br/>
  <div class='dusbin'>
  <div class="film" v-for="movie in movies" :key="movie.id">
            <img :src='movie.poster' alt="poster" width={200} height={300} class="poster"/>
            <div class="film-details">
                <div class="box">
                    <h4 class="title">{{movie.title}}</h4>
                    <button class="rating" v-on:click="removefavorite(movie.id)"><img alt="RD" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv869TzYSy1P3h0-14qpkqflzW8P6F3-Dr8g&usqp=CAU"></button>
                </div>
            </div>
  </div>
  </div>
  </div>
</template>


<script>
import axios from 'axios';
import Header from './Header.vue';
export default{
    name:'favorite',
    mounted() {
        axios({
          method: "POST",
          "url": "http://localhost:6030/film_list"
        }).then(response => {
          this.movies = (response.data);
          console.log(response.data)
        }, error => {
          console.error(error);
        });
    },
    data() {
        return {
          movies:[]
        }
    },
    components: {
        Header
    },
    methods:{
        removefavorite(g){
        const filmid=g;
        this.movies.map((n)=>{
          if(n.id==filmid){
            const id=filmid
            axios.post('http://localhost:6030/film_remove',{
                gid:id
            })
          }
        })
    }
    }
}
</script>

<style>
.dusbin{
    margin:auto;
    width:60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.film{
    box-shadow: 0 5px 5px white;
    width: 230px;
    background-color:rgb(119, 119, 123);
    margin: 10px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.film .poster{
    width: 100%;
    height: 300px;
}

.film-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.film-details .box{
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.film-details .title{
    width: 170px;
    text-align: center;
}

.rating{
    background-color: var(--secondary-color);
    display: flex;
    width: 30px;
    height: 30px;
    left: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid var(--tab-color); 
}
img{
    width: 25px;
}
</style>