<template>
    <div>
        <nav class='mnav'>
            <h1 >Welcome to movies!</h1>
            <ul>
                <li>
                    <router-link to="/home">
                        Home
                    </router-link>
                </li>
                <li>
                    <router-link to="/favorite">
                        Favriote
                    </router-link>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
export default{};
</script>

<style>
.mnav{
background-color:rgb(70, 187, 216);
padding:15px;
display: flex;
}
.mnav h1{
    margin-left: 120px;
    font-weight: 700;
}

.mnav ul{
    display: flex;
    list-style: none;
    margin-left: 50px;
    align-items: center;
}
.mnav ul li{
    margin-left: 80px;
    font-weight: 600;
    font-size: x-large;
}

</style>