
<template>

<div>
  <Header></Header>
  <br/><br/>
  <input type="text" placeholder="Search by movie name..." @input='movieSearch'/>
  <br/><br/>
  <div class='dusbin' v-if='movies.length != 0'>
  <div class="film" v-for="movie in movies" :key="movie.id">
            <img :src='movie.poster' alt="poster" width={200} height={300} class="poster"/>
            <div class="film-details">
                <div class="box">
                    <h4 class="title">{{movie.title}}</h4>
                    <button class="rating" v-on:click="makefavorite(movie.id)"><img alt="WH" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROP-ZdpvepfFWNKEOHBgzb7WL6m2GOFWV3ww&usqp=CAU"></button>
                </div>
            </div>
  </div>
  </div>
</div>

</template>

<script>

import axios from 'axios';
import Header from './Header.vue';

export default {
    name: 'home',
    mounted() {
        axios({
          method: "GET",
          "url": "assets/json/movies.json"
        }).then(response => {
          this.movies = JSON.parse(JSON.stringify(response.data));
        }, error => {
          console.error(error);
        });
    },
    data() {
        return {
          movies:[]
        }
    },
    components: {
        Header
    },
    methods: {
    movieSearch(e){
      const userinput=e.target.value
      this.movies.map((n)=>{
        if(n.title.toLowerCase()==userinput.toLowerCase()){
           this.movies={n}
        }
      })
    },

    makefavorite(g){
        const filmid=g;
        this.movies.map((n)=>{
          if(n.id==filmid){
            const id=n.id
            const title=n.title
            const poster=n.poster

            axios.post('http://localhost:6030/film_add',{
                gid:id,
                gtitle:title,
                gposter:poster
            })
          }
        })
    }
    }
}

</script>

<style scoped>

input{
    border-style: none;
    width: 600px;
    height: 40px;
    font-size: large;
    border-radius: 10px;
    border: 3px solid rgb(117, 207, 207);
    box-shadow: 2px 2px 2px 2px rgb(118, 116, 116);
}

input:hover{
    border: 5px solid aqua;
    border-radius: 10px;
}
input:focus{
    border: 5px solid aqua;
    border-radius: 10px;
}
 
.dusbin{
    margin:auto;
    width:60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.film{
    box-shadow: 0 5px 5px white;
    width: 230px;
    background-color:rgb(119, 119, 123);
    margin: 10px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.film .poster{
    width: 100%;
    height: 300px;
}

.film-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.film-details .box{
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.film-details .title{
    width: 170px;
    text-align: center;
}

.rating{
    background-color: var(--secondary-color);
    display: flex;
    width: 30px;
    height: 30px;
    left: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid var(--tab-color); 
}

button img{
    width: 25px;
}
</style>

